@import "variables";
.watchlist__wrapper {
  position: fixed;
  right: 0;
  z-index: 99;
  height: 100vh;
  width: 26%;
  background-color: $bg-secondary;
  overflow: scroll;
  .head {
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 90px;
    .title {
      font-family: Roboto;
      font-size: 30px;
      font-weight: 500;
      line-height: 24.5px;
      letter-spacing: 0.4000000059604645px;
      text-align: center;
      color: $text-secondary;
    }
    .icon {
      cursor: pointer;
    }
  }
  .grid__container {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;

    .grid__item {
      cursor: pointer;
      background-color: $bg-tertiary;
      border-radius: 25px;
      padding: 15px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      .price {
        margin: 25px 0 10px 0;
        color: $text-secondary;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 400;
        line-height: 20.02px;
        letter-spacing: 0.15000000596046448px;
        text-align: center;
      }
      .remove__btn {
        background-color: $text-danger;
        padding: 3px 15px;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 400;
        line-height: 20.02px;
        letter-spacing: 0.15000000596046448px;
        color: $text-secondary;
      }
    }
  }
}
.close__sidebar {
  display: none;
}
